<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Homepage</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<header class="header">
    <div class="logoDiv">
        <p class="logoName">VibePress</p>
        <img th:src="@{/images/logo.png}" class="logo" alt="Logo" width="45" height="45"/><p class="header-item" th:text="${date}">Datum</p>
        <a th:href="@{/account/Julia}"><p class="header-item clickable-header-item">Account</p></a>
        <p class="header-item clickable-header-item">Settings</p>
    </div>
    <div class="headerWords">
    </div>
</header>

<body>
    <div class="sections">
        <div class="section">
            <h2>Top Headlines</h2>
            <div class="sectionContent">
                <h3>USA</h3>
                <div class="articleDiv" th:each="article, stat : ${articles}">
                    <span th:text="${stat.index + 1}">1</span>.
                    <a th:href="@{/article/{articleTitle}(articleTitle=${article.title})}" class="section-content-link">
                        <p th:text="${article.title}">article title</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Search</h2>
            <div class="sectionContent">
                <div class="search-bar-div">
                    <form action="/search" method="get">
                        <div class="search-bar">
                            <i class="fas fa-search"></i>
                            <input type="text" name="query" id="searchQueryInput" placeholder="Search" />
                            <button type="submit">Search</button>
                        </div>
                    </form>
                </div>
                <div th:each="article : ${searchedArticles}">
                    <a th:href="@{/article/{articleTitle}(articleTitle=${article.title})}" class="section-content-link">
                        <p th:text="${article.title}">article title</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Worldwide</h2>
            <div class="sectionContent">
                <h3>Explore Global News Insights</h3>
                <a th:href="@{/countries}"><p class="section-content-link menuPoint">Categories in different countries</p></a>
                <a><p class="section-content-link menuPoint">Statistics</p></a>
                <a th:href="@{/countries}"><p class="section-content-link menuPoint">Countries Subreddit Comparison</p></a>
                <a><p class="section-content-link menuPoint">Sources Comparison</p></a>
            </div>
        </div>

    </div>

</body>

</html>
